.main-cont {

    /* TEMP */
    height: 3000px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.main-font-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.best-addons-font {
    font-family: var(--font-main-f);
    font-size: 2rem;
    font-weight: 600;
}

.best-addons-cont {
    display: flex;
    justify-content: space-between;
}

.addon-card {
    width: 300px;
    height: 450px;
    background: #f3f3f3;
    outline: #b7b7b7 solid 1px;
    outline-offset: -4px;
}